body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f4;
  margin: 0;
  padding: 0;
}
header {
  background-color: #0078d7;
  color: white;
  text-aling: center
  padding: 20px;
}
.chat-container {
    max.Width: 800px; 
    margin: 20px auto;
    background: white;
    border-radius: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px
  rgba(0,0,0,0.1);
}
#chat-box {
  min-height: 300px;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius:
  overflow-y: auto;
  margin-booton:15;
  
}
.box-message {
  background-color: #e8f0fe;
  padding: 10px;
  border-radius: 10px;
  margin-botton: 10px;
}
.user-message {
  background-color: #d1ffd5;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: ruggt;
}
.input-container {
 display: flex;
  gap: 10px;
}
#user-input {
flex: 1;
padding: 10p;
font-size: 16px;
}
#send-btn {
background-color: #0078d7;
color: white;
border: none
  padding: 10px 20px;
  corsor: pointer;
}
#send-btn:hover {
background-color: #005ea6;
}
